* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  width: 70%;
  font-family: 'Poppins';
  box-sizing: border-box;
  background: url(/assest/img/background.png);
  background-repeat: no-repeat; }

.titulo {
  text-align: center;
  font-size: 30px;
  margin-top: 10px; }

.container__main {
  background-color: white; }

.container__header {
  display: flex;
  justify-content: space-between;
  min-width: 70px;
  background-color: white;
  align-items: center; }

.container__header--navmenu li {
  display: inline; }

.container__header--navmenu a {
  color: #810e05;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  transition: all 0.5s ease; }
  .container__header--navmenu a:hover {
    background-color: #810e05;
    border-radius: 10px;
    color: white; }

.container__header--logo {
  display: flex;
  align-content: center;
  padding: 5px;
  margin-left: 30px; }
  .container__header--logo img {
    max-width: 100px; }

.container__carteles {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center; }
  .container__carteles .container__carteles--box {
    border: 3px solid red;
    border-radius: 5px;
    background-color: #fa6e6e;
    text-align: center;
    font-size: 18px; }
    .container__carteles .container__carteles--box img {
      min-height: 100px;
      max-height: 300px; }
    .container__carteles .container__carteles--box button {
      margin-top: 10px;
      margin-bottom: 15px;
      box-shadow: 3px 4px 0px 0px #8a2a21;
      background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
      background-color: #c62d1f;
      border-radius: 21px;
      border: 1px solid #d02718;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 15px;
      padding: 10px 31px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #810e05; }
      .container__carteles .container__carteles--box button:hover {
        background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color: #f24437; }
      .container__carteles .container__carteles--box button:active {
        position: relative;
        top: 1px; }

.container__peliculas {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center; }
  .container__peliculas .container__carteles--box {
    border: 3px solid red;
    border-radius: 5px;
    background-color: #fa6e6e;
    text-align: center;
    font-size: 18px;
    background-color: #2ba3e8;
    border-color: black; }
    .container__peliculas .container__carteles--box img {
      min-height: 100px;
      max-height: 300px; }
    .container__peliculas .container__carteles--box button {
      margin-top: 10px;
      margin-bottom: 15px;
      box-shadow: 3px 4px 0px 0px #8a2a21;
      background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
      background-color: #c62d1f;
      border-radius: 21px;
      border: 1px solid #d02718;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 15px;
      padding: 10px 31px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #810e05; }
      .container__peliculas .container__carteles--box button:hover {
        background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color: #f24437; }
      .container__peliculas .container__carteles--box button:active {
        position: relative;
        top: 1px; }

@media screen and (max-width: 768px) {
  body {
    width: 100%; }
  .container__carteles--box {
    width: 160px; }
    .container__carteles--box img {
      height: 220px; }
    .container__carteles--box h3 {
      height: 50px; } }
