body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D0D6B5; }

.estrenos {
  text-align: center;
  font-size: 30px; }

.container__header--navmenu {
  text-align: center;
  background-color: #987284; }
  .container__header--navmenu ul {
    padding: 15px; }
  .container__header--navmenu li {
    display: inline;
    margin-right: 60px; }
  .container__header--navmenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: all 0.5s;
    width: 100px; }
    .container__header--navmenu a:hover {
      transition: all 0.5s;
      border-radius: 10px;
      background-color: #9DBF9E;
      color: white; }

.container__estrenos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center; }
  .container__estrenos .container__estrenos--box {
    border: 3px solid white;
    text-align: center;
    font-size: 20px; }
    .container__estrenos .container__estrenos--box img {
      height: 400px; }
    .container__estrenos .container__estrenos--box button {
      margin-bottom: 15px;
      box-shadow: 3px 4px 0px 0px #8a2a21;
      background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
      background-color: #c62d1f;
      border-radius: 21px;
      border: 1px solid #d02718;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 17px;
      padding: 13px 31px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #810e05; }
      .container__estrenos .container__estrenos--box button:hover {
        background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color: #f24437; }
      .container__estrenos .container__estrenos--box button:active {
        position: relative;
        top: 1px; }
